@charset "UTF-8";
@-webkit-keyframes _slide-left {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes _slide-left {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes _slide-right {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes _slide-right {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/extends\/_structure\.scss}line{font-family:\000035}}
#under .inner h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/extends\/_backgrounds\.scss}line{font-family:\000031}}
#under {
  background: -webkit-radial-gradient( black 15%, transparent 16%) 0 0, -webkit-radial-gradient( black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient( rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient( rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background: radial-gradient(   black 15%, transparent 16%) 0 0, radial-gradient(   black 15%, transparent 16%) 8px 8px, radial-gradient(   rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(   rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/extends\/_menus\.scss}line{font-family:\000035}}
nav#nav-main ul {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/extends\/_menus\.scss}line{font-family:\000039}}
nav#nav-main ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/extends\/_menus\.scss}line{font-family:\0000316}}
nav#nav-main ul li a {
  display: inline-block;
  line-height: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/extends\/_menus\.scss}line{font-family:\0000321}}
nav#nav-main ul li.last a {
  border-right: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_base\.scss}line{font-family:\000034}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_base\.scss}line{font-family:\000036}}
body {
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_base\.scss}line{font-family:\000038}}
a {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_base\.scss}line{font-family:\0000310}}
nav ul li {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_base\.scss}line{font-family:\0000313}}
table {
  table-layout: fixed;
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\0000311}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\0000330}}
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\0000341}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\0000351}}
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\0000366}}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\0000376}}
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\0000388}}
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\0000396}}
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003104}}
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003118}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003127}}
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003135}}
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003144}}
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003152}}
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003162}}
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003171}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003183}}
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003191}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003199}}
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003207}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003215}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003219}}
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003231}}
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003239}}
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003251}}
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003263}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003274}}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003285}}
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003299}}
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003311}}
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003324}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003336}}
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003346}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003358}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003370}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003379}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003390}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_normalize\.scss}line{font-family:\00003403}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}
@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003243}}
body {
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003247}}
pre code {
  word-wrap: normal;
}

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003372}}
html {
  font: normal 112.5%/1.65 serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003380}}
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003391}}
small {
  font-size: 65%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003414}}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.2538461538rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.alpha, h1 {
  font-size: 60px;
  font-size: 3.3333333333rem;
  margin-bottom: 0.495rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.beta, h2 {
  font-size: 48px;
  font-size: 2.6666666667rem;
  margin-bottom: 0.61875rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.delta, h4 {
  font-size: 24px;
  font-size: 1.3333333333rem;
  margin-bottom: 1.2375rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.epsilon, h5 {
  font-size: 21px;
  font-size: 1.1666666667rem;
  margin-bottom: 1.4142857143rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003429}}
.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003469}}
p {
  margin: auto auto 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003474}}
p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003487}}
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003507}}
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003512}}
pre {
  white-space: pre;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003516}}
code {
  white-space: pre;
  font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003532}}
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003534}}
abbr[title]:hover {
  cursor: help;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003543}}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003558}}
p + .drop-cap {
  text-indent: 0;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003274}}
.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003312}}
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003320}}
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003328}}
.lining dd + dd:before {
  content: ", ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003332}}
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003340}}
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003344}}
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003350}}
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003353}}
.dictionary-style dd:before {
  content: counter(definitions,decimal) ". ";
}

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003642}}
.pull-quote {
  position: relative;
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003214}}
.pull-quote:before, .pull-quote:after {
  height: 1em;
  opacity: 0.5;
  position: absolute;
  font-size: 4em;
  color: #dc976e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003222}}
.pull-quote:before {
  content: '“';
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_orion\/styles\/_typeplate\.scss}line{font-family:\00003227}}
.pull-quote:after {
  content: '”';
  bottom: 0;
  right: 0;
}

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\000036}}
html, body {
  margin-top: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000311}}
#under {
  -webkit-transition: top 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
          transition: top 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  position: fixed;
  top: calc(-100vh + 50px);
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 10;
  box-shadow: inset 0 -5px 5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000323}}
#under .inner {
  padding: 2em;
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000334}}
#under .post--cat,
#under .post--date {
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000340}}
#title-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000348}}
#title-bar a.js-menu-toggle {
  display: block;
  float: right;
  width: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000353}}
#title-bar a.js-menu-toggle img {
  -webkit-transition: all 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
          transition: all 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000360}}
#wrapper {
  -webkit-transition: margin 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
          transition: margin 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  position: relative;
  background-color: white;
  height: 100%;
  margin-top: 50px;
  z-index: 5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000370}}
body.open #under {
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000372}}
body.open #wrapper {
  margin-top: 100vh;
  z-index: -1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_header\.scss}line{font-family:\0000379}}
body.open #title-bar a.js-menu-toggle img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_main-nav\.scss}line{font-family:\000032}}
nav#nav-main ul {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_main-nav\.scss}line{font-family:\000039}}
#logo a {
  width: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Chris\/www\/htdocs\/chris\/_sass\/styles\/components\/_main-nav\.scss}line{font-family:\0000312}}
#logo img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */