* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #eee url('../images/texture.png') repeat;
}

.page-main {
  padding: 1em 2em;
  border-top: 1px solid #eee;
}

.page-title {
  font-size: 4rem;
  text-shadow: 1px 1px 1px #ca8e19;
}

.page-subtitle {
  font-size: 1.5rem;
}

.block--social {
  text-align: center;
}

.block--twitter {
  margin-top: 2em;
}

@include expand-to(1100px) {
  .social-links__item {
    display: inline-block;
    width: 50%;
    margin-right: -5px;
  }
}

@include expand-to(700px) {
  .page-main {
    padding: 1em 5%;
  }

  .block--social {
    float: left;
    width: 62%;
    padding-right: .5em;
  }
  .block--twitter {
    float: right;
    padding-left: .5em;
    width: 38%;
  }
}
