      <aside id="sidebar">
        <img src="/images/chris.png" alt="Headshot of Chris Albrecht" />

        <nav id="main-nav">
          <ul class="menu inline">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>

        <div class="social">
        {% for item in site.social %}
          <a href="{{ item.url }}" target="_blank" title="{{ item.text }}">
            <i class="fa {{ item.icon }}"></i>
            <div class="text">{{ item.text }}</div>
          </a>
        {% endfor %}
        </div>
      </aside>
