---
layout: default
title: Chris Albrecht
---

<div class="block--social">
  <p>I do other things too.  And I live in Colorado, which is awesome.<br />Until I get more content up, you can find me here.</p>

  <span class="block--social__desc">Find Chris on</span>
  <ul class="social-links">
    {% for network in site.data.social %}
    <li class="social-links__item">
      <a href="{{ network.url }}" class="social-links__item-link social-links__item-link--{{ network.name | slugify }}">
        {% include_relative {{ network.icon }} %}
        <span class="social-links__item-text">{{ network.name }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="block--twitter">
  {% include twitter.html %}
</div>
