
<header id="site-header">
  <nav id="nav-main" role="navigation">
    <ul>
      <li><a href="#" class="js-menu-toggle"><img src="/images/icons/SVG/meatballs.svg" alt="Browse Posts"/><span>Posts</span></a></li>
      <li><a href="#" class="js-menu-toggle"><img src="/images/icons/SVG/sign-out.svg" alt="Follow Chris"/><span>Follow</span></a>{% include follow.html %}</li>
      <li><a href="#" class="js-menu-toggle"><img src="/images/icons/SVG/share2.svg" alt="Share This Post"/><span>Share</span></a>
        <ul class="invisible">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
        </ul>
      </li>
    </ul>
  </nav>
</header>