
<header id="site-header">
  <nav id="nav-main" role="navigation">
    <ul>
      <li><a href="#" class="js-menu-toggle"><img src="/images/icons/SVG/meatballs.svg" alt="Browse Posts"/><span>Posts</span></a></li>
      <li><a href="#" class="js-menu-toggle"><img src="/images/icons/SVG/sign-out.svg" alt="Follow Chris"/><span>Follow</span></a>
        <div class="submenu">{% include follow.html %}
          <div class="spacer"></div>
        </div>
      </li>
      <li><a href="#" class="js-menu-toggle"><img src="/images/icons/SVG/share2.svg" alt="Share This Post"/><span>Share</span></a>
        <div class="submenu">
          <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
          </ul>
          <div class="spacer"></div>
        </div>
      </li>
    </ul>
  </nav>
</header>