
<footer id="site-footer">
  <ul>
    <li class="header">
      <h3>Previous Post</h3><a href="#" title="Post Title">Previous Post</a>
    </li>
    <li class="header">
      <h3>Follow Chris</h3>{% include follow.html %}
    </li>
    <li class="header">
      <h3>Share this post</h3>
      <ul>
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
      </ul>
    </li>
    <li class="header">
      <h3>Next Post</h3><a href="#" title="Post Title">Next Post</a>
    </li>
  </ul>
</footer>