
<footer id="site-footer">
  <ul>
    <li><a href="#" title="Post Title"><img src="/images/icons/SVG/chevron-left.svg" alt="Previous Post"/><span>Previous</span></a></li>
    <li><a href="#" class="js-menu-toggle left"><img src="/images/icons/SVG/meatballs.svg" alt="Browse Posts"/><span>Posts</span></a></li>
    <li class="header"><a href="#"><img src="/images/icons/SVG/sign-out.svg" alt="Follow Chris"/><span>Follow</span></a>{% include follow.html %}</li>
    <li class="header"><a href="#"><img src="/images/icons/SVG/share2.svg" alt="Share This Post"/><span>Share</span></a>
      <ul>
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
      </ul>
    </li>
    <li><a href="#" title="Post Title"><span>Next</span><img src="/images/icons/SVG/chevron-right.svg" alt="Next Post"/></a></li>
  </ul>
</footer>