// Breakpoint for expanding screen sizes (mobile first).
@mixin expand-to($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// Hide elements from vision but not screen readers.
@mixin invisible {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin focus($selector) {
  .#{$selector}:hover,
  .#{$selector}:focus {
    @content;
  }
}

@mixin center($dir) {
  @if ($dir == 'x') {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  @else if ($dir == 'y') {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @else {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
