// Transitions
$timing: 250ms;
$slide-ease: cubic-bezier(0.17, 0.04, 0.03, 0.94);

// Structure
$posts-oc-width: 62%;
$follow-oc-width: 100px;
$nav-height: 50px;

// Breakpoints
$float-twitter-right: 800px;
$two-col-social: 700px;
$three-col-social: 1000px;

// Colors
$text-main: #444;
$text-diminished: #999;

$twitter: #00ACED;
$github: #0D2636;
$lanyrd: #3C80CA;
$lullabot: #E13526;
$drupal: #28A9E0;
$amazon: #FF8604;
$foursquare: #F94877;
$flickr: #0154D8;
