include ../../_jade/_base
header#site-header
  +nav('main')
    ul
      li
        a(href="#").js-menu-toggle
          img(src="/images/icons/SVG/meatballs.svg", alt="Browse Posts")
          span Posts

      li
        a(href="#").js-menu-toggle
          img(src="/images/icons/SVG/sign-out.svg", alt="Follow Chris")
          span Follow
        +submenu
          | {% include follow.html %}

      li
        a(href="#").js-menu-toggle
          img(src="/images/icons/SVG/share2.svg", alt="Share This Post")
          span Share
        +submenu
          ul
            li Link 1
            li Link 2
            li Link 3
