include ../../_jade/_base
footer#site-footer
  ul
    li: +social_link('twitter', 'Twitter', 'http://twitter.com/ChrisAlbrecht')
    li: +social_link('github', 'GitHub', 'http://github.com/KeyboardCowboy')
