include ../../_jade/_base
header#site-header
  a(href="#").js-menu-toggle.left
    img(src="/images/icons/SVG/meatballs.svg" alt="Toggle blog list.").icon

  a(href="/", title="Home").home KeyboardCowboy

  a(href="#").js-menu-toggle.right
    img(src="/images/icons/SVG/kebab.svg" alt="Follow Chris").icon
