include ../../_jade/_base
header#site-header
  a(href="#").js-menu-toggle
    img(src="/images/icons/SVG/times-circle-o.svg" alt="Close menu.")
  +nav('main')
    +menu_link('Home', '/')
    +menu_link('Blog', '/blog')
