include ../../_jade/_base
footer#site-footer
  ul
    li
      a(href="#", title="Post Title")
        img(src="/images/icons/SVG/chevron-left.svg", alt="Previous Post")
        span Previous

    li
      a(href="#").js-menu-toggle.left
        img(src="/images/icons/SVG/meatballs.svg", alt="Browse Posts")
        span Posts

    li.header
      a(href="#")
        img(src="/images/icons/SVG/sign-out.svg", alt="Follow Chris")
        span Follow
      | {% include follow.html %}

    li.header
      a(href="#")
        img(src="/images/icons/SVG/share2.svg", alt="Share This Post")
        span Share
      ul
        li Link 1
        li Link 2
        li Link 3

    li
      a(href="#", title="Post Title")
        span Next
        img(src="/images/icons/SVG/chevron-right.svg", alt="Next Post")
