include ../../_jade/_base
header#site-header
  +nav('main')
    ul
      li
        {% if page.previous %}
        a(href="{{ page.previous.url }}", title="{{ page.previous.title }}")
          img(src="/images/icons/SVG/chevron-left.svg", alt="Previous Post")
          span Previous
        {% else %}
        a(href="/", title="Home")
          img(src="/images/icons/SVG/chevron-left.svg", alt="Home Page")
          span Home
        {% endif %}

      li
        a(href="#").js-menu-toggle
          img(src="/images/icons/SVG/meatballs.svg", alt="Browse Posts")
          span Posts

      li
        a(href="#").js-menu-toggle
          img(src="/images/icons/SVG/sign-out.svg", alt="Follow Chris")
          span Follow
        +submenu
          | {% include follow.html %}

      li
        a(href="#").js-menu-toggle
          img(src="/images/icons/SVG/share2.svg", alt="Share This Post")
          span Share
        +submenu
          ul
            li Link 1
            li Link 2
            li Link 3

      li
        {% if page.next %}
        a(href="{{ page.next.url }}", title="{{ page.next.title }}")
          span Next
          img(src="/images/icons/SVG/chevron-right.svg", alt="Next Post")
        {% else %}
        a(href="/", title="Home")
          span Home
          img(src="/images/icons/SVG/chevron-right.svg", alt="Home Page")
        {% endif %}
