include ../../_jade/_base
footer#site-footer
  ul
    li.header
      h3 Previous Post
      a(href="#", title="Post Title") Previous Post

    li.header
      h3 Follow Chris
      | {% include follow.html %}

    li.header
      h3 Share this post
      ul
        li Link 1
        li Link 2
        li Link 3

    li.header
      h3 Next Post
      a(href="#", title="Post Title") Next Post
