@mixin followme-icon($name, $color) {
  .social-links--mobile-landing__item-link--#{$name} {
    svg path {fill: $color;}

    .social-links--mobile-landing__item-text {
      color: $color;
      border-color: $color;
    }

    .social-links--mobile-landing__item-text:visited {
      color: $color;
    }

    .social-links--mobile-landing__item-text:active,
    .social-links--mobile-landing__item-text:focus {
      background-color: #eee;
      border-radius: .5em;
    }
  }
}

.page--mobile-landing__avatar {
  width: auto;
  vertical-align: middle;
  border-bottom-right-radius: .5em;
}

.page-title--mobile-landing {
  display: inline-block;
  margin: 0 0 0 .5em;
  vertical-align: middle;
  text-shadow: 1px 1px 0 white;
}

.social-links--mobile-landing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  height: 100%;
}

.social-links--mobile-landing__item {
  display: block;
  flex: 1 1 auto;
}

.social-links--mobile-landing__item-text {
  display: block;
}

.social-links--mobile-landing__item-link {
  text-decoration: none;
  display: block;

  svg {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
  }
}

@include followme-icon(twitter, $twitter);
@include followme-icon(github, $github);
@include followme-icon(lullabot, $lullabot);
@include followme-icon(lanyrd, $lanyrd);
@include followme-icon(drupal, $drupal);
@include followme-icon(amazon, $amazon);
@include followme-icon(foursquare, $foursquare);
@include followme-icon(flickr, $flickr);

@media screen and (orientation: portrait) {
  .page-header--mobile-landing,
  .page--mobile-landing__avatar {
    max-height: 15vh;
  }

  .page-main--mobile-landing {
    height: 85vh;
    padding: 2em 0;
  }

  .social-links--mobile-landing__item-link {
    min-width: 50vw;
  }
}

@media screen and (orientation: landscape) {
  .page-header--mobile-landing,
  .page--mobile-landing__avatar {
    max-height: 30vh;
  }

  .page-main--mobile-landing {
    height: 70vh;
    padding: 1em 0 2em 0;
  }

  .social-links--mobile-landing__item-link {
    min-width: 25vw;
  }
}
