#site-header {
  display: flex;
  background-color: white;

  > a {
    flex-grow: 3;
    text-align: center;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    &.js-menu-toggle {
      flex-grow: 1;
    }
  }
}
