#posts {
  width: $posts-oc-width;
  position: absolute;
  left: -$posts-oc-width;
  top: 0;
  height: 100%;
  background: #777;
}

#follow {
  width: $follow-oc-width;
  position: absolute;
  right: -$follow-oc-width;
  top: 0;
  height: 100%;
  background: #777;
}

#main {
  transform: translateX(0);
  transition: $timing transform $slide-ease;
  //height: 100%;
}

body {
  &.open-left {
    #main {
      transform: translateX($posts-oc-width);
    }
  }

  &.open-right {
    #main {
      transform: translateX(-$follow-oc-width);
    }
  }
}
