include ../../_jade/_base
doctype html
html
  | {% include head.html %}
  body
    div#under
      .inner
        h2 Main Menu
        | {% include summary.html %}
      | {% include header.html %}

    div#wrapper
      | {{ content }}
      | {% include footer.html %}
