include ../../_jade/_base
doctype html
html
  | {% include head.html %}
  body
    #page
      | {% include default-nav.html %}
      section
        | {% include default-header.html %}
        main#section--main
          | {{ content }}
