include ../../_jade/_base
doctype html
html
  | {% include head.html %}
  body
    #page
      | {% include post-nav.html %}
      article#post
        | {% include post-header.html %}
        main#post--main
          | {{ content }}
